include README.md
include LICENSE
include requirements.txt
recursive-include ckanext/event_audit *.html *.json *.js *.less *.css *.mo *.yml *.yaml
recursive-include ckanext/event_audit/migration *.ini *.py *.mako
